body {
    background-color: #e6ffff;
}

h1 {
    text-align: center;
}

#display-property-title {
    font-size: 30px;
    color: rgb(0, 119, 255);
    text-align: center;
    font-family: fantasy;
}

#display-property-head {
    font-size: 20px;
    border: 2px solid black;
    color: white;
    background-color: rgb(0, 119, 255);
}

.display-property {
    font-family: fantasy;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#position-property-title {
    font-size: 30px;
    color: blue;
    text-align: center;
    font-family: fantasy;
}
#position-property-head {
    font-size: 20px;
    border: 2px solid black;
    color: white;
    background-color: blue;
    font-family: sans-serif;
}

#property-table{
    font-family: 'Rubik Bubbles', sans-serif;
}

td {
    font-size: 15px; 
    border: 1px solid black;
}

cite {
    text-align: center;
}
